.logo{
  margin: 40px 0 30px;
  max-width: 100%;
}


.post{
  font-family: Merriweather;
    font-size: 1.2rem;
    line-height: 1.8;
    color: rgba(0,0,0,.8);
}

.footerNav {
  display: flex;
  font-size: 12px;
  padding: 20px;
  justify-content: space-between;
}